/*----глобальные стили----*/
    html, body {
      margin: 0;
      padding: 0;

    }

    html{
    	scroll-behavior: smooth;
    	font-size: 16px;
      height: 100%;
    }

    body{
    	font-family: 'Open Sans', sans-serif;
    	background: #081618;
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
      overflow-x: hidden;
    }

    ul,li {
    	
    	margin: 0px;
    	padding: 0px;
    	
    }

    h1,h2,h3,p{
    	margin: 0px;
    	font-weight: normal;
    }

    .upper{
    	text-transform: uppercase;
    }




/*----шрифты----*/

@font-face {
  font-family: "Manrope-800";
  src: 
    url("Manrope-ExtraBold.woff2") format("woff2"),
    url("Manrope-ExtraBold.woff") format("woff"),
    url("Manrope-ExtraBold.ttf") format("ttf"),
    url("Manrope-ExtraBold.eot") format("eot");
    font-weight: 800;
    font-style: normal;
}

@font-face {
  font-family: "Manrope-700";
  src: 
    url("Manrope-Bold.woff2") format("woff2"),
    url("Manrope-Bold.woff") format("woff"),
    url("Manrope-Bold.ttf") format("ttf"),
    url("Manrope-Bold.eot") format("eot");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Manrope-600";
  src: 
    url("Manrope-Semibold.woff2") format("woff2"),
    url("Manrope-Semibold.woff") format("woff"),
    url("Manrope-Semibold.ttf") format("ttf"),
    url("Manrope-Semibold.eot") format("eot");
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: "Manrope-500";
  src: 
    url("Manrope-Medium.woff2") format("woff2"),
    url("Manrope-Medium.woff") format("woff"),
    url("Manrope-Medium.ttf") format("ttf"),
    url("Manrope-Medium.eot") format("eot");
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: "Manrope-400";
  src: 
    url("Manrope-Regular.woff2") format("woff2"),
    url("Manrope-Regular.woff") format("woff"),
    url("Manrope-Regular.ttf") format("ttf"),
    url("Manrope-Regular.eot") format("eot");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Abel-400";
  src: 
    url("Abel-Regular.woff2") format("woff2"),
    url("Abel-Regular.woff") format("woff"),
    url("Abel-Regular.ttf") format("ttf"),
    url("Abel-Regular.eot") format("eot");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Manrope-300";
  src: 
    url("Manrope-Light.woff2") format("woff2"),
    url("Manrope-Light.woff") format("woff"),
    url("Manrope-Light.ttf") format("ttf"),
    url("Manrope-Light.eot") format("eot");
    font-weight: 300;
    font-style: normal;
}

/*----------------------СТИЛИ---------------------------*/

.main__container{
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}

.full_container{
  max-width: 1920px;
  width: 100%;
}


/*-------------------------------ГЛАВНАЯ СТРАНИЦА-------------------------------*/


/*-------------------------------ШАПКА-------------------------------*/

.hamb {
      display: flex;
      align-items: center;
  }

  .hamb__field {
      cursor: pointer;
      z-index: 20;
  }

  .bar {
      display: flex;
      transition: 0.2s;
  }

  .popup {
      position: fixed;
      top: 61px;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 100;
      display: flex;
      transition: 0.3s;
  }

  .popup.open {
      left: 0;
  }

  .popup .header__menu-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      overflow: auto;
      padding-left: 20px;
      background: #062a52;
  }

  .popup .header__menu-list > li {
      width: 100%;
      padding-left: 15px;
      padding-right: 20px;
      border-bottom: 1px dotted #616263;

  }

  .popup .header__menu-list > li > a {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      font-family: "Manrope-500";
      font-size: 1.125rem;
      text-decoration: none;
      color: #ffffff;
  }

    body.noscroll {
      overflow: hidden;
    }

    #popup > ul:nth-child(1) > div:nth-child(9) {
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
  }

  .popup .header__menu-list > li {
    padding-top: 10px;
    padding-bottom: 10px;
  }

.popup.open {
  right: 0 !important;
  left: unset;
  transition: 0.3s;
}

.popup {
  top: 139px;
  width: 25%;
  right: -100%;
  background: #ECFDE2;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #ffffff;
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 100;
}





.header-content{
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
  align-items: center;
}

.header-content-leftpart{
  display: flex;
  align-items: center;
}

.header-content-rightpart{
  display: flex;
  align-items: center;
}

.header_menu-nav-list{
  display: flex;
  column-gap: 46px;
  align-items: center;
  list-style-type: none;
}

.header_menu-nav-list-item a{
  font-family: "Manrope-500";
  font-size: 1.125rem;
  text-decoration: none;
  color: #A8FF78;
}

.header_btn{
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 45px;
  padding-right: 45px;
  font-family: "Manrope-600";
  font-size: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 52.114px;
  border: 2px solid #06F;
  background: rgba(115, 113, 255, 0.33);
  box-shadow: 0px 0px 22px 0px rgba(176, 102, 255, 0.15);
}

.header_btn-container:active{
  transform: scale(0.98);
}

.header_btn-container{
 
}

.header_burger{
  margin-left: 46px;
}

header{
  position: relative;
}

.full_container-header{
  position: relative;
  z-index: 5;
}

.blur-blue-left{
  border-radius: 552px;
  background: #062a52;
  filter: blur(408px);
  position: absolute;
  left: -150px;
  width: 552px;
  height: 552px;
  top: -85px;
}

/*-------------------------------ПЕРВАЯ СЕКЦИЯ-------------------------------*/

.blur-blue-right{
  border-radius: 552px;
  background: #062a52;
  filter: blur(408px);
  position: absolute;
  right: -150px;
  width: 552px;
  height: 552px;
}



.firstsec{
  margin-top: 216px;
}

.full_container-firstsec{
  position: relative;
}

.firstsec_background{
  position: absolute;
  right: 0;
  top: -181px;
}

.firstsec-content-container{
  margin-top: 67px;
  margin-left: 61px;
  margin-bottom: 271px;
}

.firstsec-content-container h2{
  font-family: "Abel-400", sans-serif;
  font-size: 3rem;
  text-decoration: none;
  line-height: 110%;
  background: linear-gradient(96deg, #FFF 7.93%, #A8FF78 73.91%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.firstsec-content-container p{
  font-family: "Manrope-400";
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 37px;
  line-height: 110%;
}

.firstsec-content-container a{
  display: flex;
  max-width: 187px;
  font-family: "Manrope-600";
  font-size: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 43px;
  line-height: 110%;
  border-radius: 52.114px;
  border: 2px solid #06F;
  background: rgba(115, 113, 255, 0.33);
  box-shadow: 0px 0px 22px 0px rgba(176, 102, 255, 0.15);
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
  white-space: nowrap;
}

.firstsec-content-container a:active{
  transform: scale(0.98);
}


/*-------------------------------СЕКЦИЯ РАБОТАЕМ-------------------------------*/

.workssec-content h2{
  font-family: "Manrope-700";
  font-size: 5.625rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 120%;
  background: linear-gradient(92deg, #A8FF78 0.66%, #06F 99.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 24px;
}

.workssec-content-list{
  margin-top: 71px;
  display: flex;
  justify-content: center;
  column-gap: 270px;
  padding-top: 78px;
  padding-bottom: 83px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #06F;
  background: linear-gradient(115deg, rgba(0, 102, 255, 0.21) -82.48%, rgba(0, 102, 255, 0.00) 107.81%);
}

.workssec-content-list-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 37px;
  text-align: center;
}

.workssec-content-list-item p{
  font-family: "Abel-400", sans-serif;
  font-size: 2.25rem;
  text-decoration: none;
  line-height: 110%;
  color: #ffffff;
}

.workssec-content-list-item img{
  width: 216px;
  height: 216px;
}

/*-------------------------------СЕКЦИЯ ЧТО МЫ ПРЕДЛАГАЕМ-------------------------------*/


.offersec{
  margin-top: 108px;
}

.offersec h2{
  display: flex;
  justify-content: end;
  font-family: "Manrope-700";
  font-size: 5.625rem;
  text-decoration: none;
  line-height: 120%;
  background: linear-gradient(92deg, #A8FF78 0.66%, #06F 99.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.offersec-content{
  margin-top: 126px;
}

.offersec-content-list{
  display: grid;
  grid-template-columns: 1.057fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 71px;
}

.offersec-content-list-item{
  border-radius: 37px;
  background: #303B67;
  
  padding-top: 42px;
  padding-left: 51px;
  padding-right: 29px;
  padding-bottom: 41px;
  position: relative;
}

.offersec-content-list-item img{
  position: absolute;
  right: -25px;
  top: -140px;
  mix-blend-mode: soft-light;
}

.offersec-content-list-item h3{
  font-family: "Manrope-700";
  font-size: 2.5rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.5rem;
}

.offersec-content-list-item p{
  font-family: "Manrope-400";
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 27px;
  line-height: 174%;
}

.offersec-content-list-item a{
  font-family: "Manrope-600";
  font-size: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 35px;
  border-radius: 52.114px;
  border: 2px solid #A8FF78;
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0px 0px 22px 0px rgba(176, 102, 255, 0.15);
  display: flex;
  max-width: 276px;
  text-align: center;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.offersec-content-list-item a:active{
  transform: scale(0.98);
}

.offersec-content-list-item:nth-child(1){
  grid-area: 1 / 1 / 3 / 3;
  box-shadow: 0px 0px 4px 0px #A8FF78;
}

.offersec-content-list-item:nth-child(2){
  grid-area: 3 / 1 / 3 / 1;
}

.offersec-content-list-item:nth-child(3){
  grid-area: 3 / 2 / 3 / 2;
}

.offersec-content-list-item:nth-child(4){
  grid-area: 4 / 1 / 4 / 3;
}

.offersec-content-list-item:nth-child(5){
  grid-area: 5 / 1 / 5 / 3;
}


.offersec-content-list-item-spisok{
  margin-top: 60px;
  font-family: "Manrope-400";
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFFFFF;
  list-style-type: disc !important;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
}

.offersec-content-list-item:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.offersec-content-list-item:nth-child(2) > img:nth-child(5) {
  position: absolute;
  right: -120px;
  top: 150px;
  mix-blend-mode: soft-light;
}

.offersec-content-list-item:nth-child(2) > a:nth-child(4) {
  margin-top: 55px;
}

.offersec-content-list-item:nth-child(3) > img:nth-child(4) {
  right: 30px;
  top: 40px;
}

.offersec-content-list-item:nth-child(4) > img:nth-child(4) {
  right: 45px;
  top: 23px;
}

.offersec-content-list-item:nth-child(5) > img:nth-child(4) {
  right: 44px;
  top: 33px;
}

.full_container-offersec{
  position: relative;
}

.blur-green-right{
  border-radius: 410px;
  background: #25402a;
  filter: blur(450px);
  top: 34%;
  position: absolute;
  right: -150px;
  width: 552px;
  height: 552px;
}

.blur-green-left{
  border-radius: 410px;
  background: #25402a;
  filter: blur(450px);
  top: 38%;
  position: absolute;
  left: -150px;
  width: 552px;
  height: 552px;
}


/*-------------------------------СЕКЦИЯ ЗАЧЕМ ПРОДВИГАТЬСЯ-------------------------------*/

.whatsec{
  margin-top: 158px;
}

.whatsec h2{
  display: flex;
  justify-content: end;
  font-family: "Manrope-700";
  font-size: 5.625rem;
  text-decoration: none;
  line-height: 120%;
  background: linear-gradient(92deg, #A8FF78 0.66%, #06F 99.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.whatsec-content-uppart-list{
  /*background-image: url(../img/what_uppart_background.png);*/
  border-radius: 37px;
  background: #492867;
  background-repeat: no-repeat;
  display: flex;
  margin-top: 93px;
  position: relative;
  margin-bottom: 223px;
  max-width: 1388px;
}

.whatsec-content-uppart-item{
  padding-top: 50px;
  padding-left: 60px;
  padding-bottom: 55px;
  max-width: 390px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.whatsec-content-uppart-item h3{
  font-family: "Manrope-700";
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  line-height: 2.75rem;
}

.whatsec-content-uppart-item p{
  font-family: "Manrope-500";
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  margin-top: 47px;
  line-height: 1.938rem;
  
}

.whatsec-content-uppart-item img{
  position: absolute;
  top: 30px;
  right: 0;
  mix-blend-mode: soft-light;
}

.whatsec-content-uppart-item:nth-child(4) > p:nth-child(2) {
  margin-top: 90px;
}

.whatsec-content-uppart-list-man{
  position: absolute;
  right: -311px;
  bottom: -232px;
  z-index: 5;
}





.whatsec-content-downpart-list{
  /*background-image: url(../img/what_uppart_background.png);*/
  border-radius: 37px;
  background: #492867;
  background-repeat: no-repeat;
  display: flex;
  margin-top: 93px;
  position: relative;
  max-width: 1388px;
  margin-left: 276px;
  position: relative;
}

.whatsec-content-downpart-item{
  padding-top: 50px;
  padding-left: 60px;
  padding-bottom: 55px;
  max-width: 390px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.whatsec-content-downpart-item h3{
  font-family: "Manrope-700";
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  line-height: 2.75rem;
}

.whatsec-content-downpart-item p{
  font-family: "Manrope-500";
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  margin-top: 47px;
  line-height: 1.938rem;
  
}

.whatsec-content-downpart-item img{
  position: absolute;
  top: 30px;
  right: 0;
  mix-blend-mode: soft-light;
}

.whatsec-content-downpart-item:nth-child(4) > p:nth-child(2) {
  margin-top: 90px;
}

.whatsec-content-downpart-list-man{
  position: absolute;
  left: -334px;
  top: -230px;
}

.whatsec-content-downpart-list > div:nth-child(2) > p:nth-child(2) {
  margin-top: 2px;
}

.whatsec-content-downpart-list {
  min-height: 496px;
}

.whatsec-content-downpart-list > div:nth-child(2) > p:nth-child(2) {
  margin-top: 13px;
}

.whatsec-content-uppart-item:nth-child(4) > p:nth-child(2) {
  margin-top: 101px;
}

.whatsec-content-downpart-list > div:nth-child(3) > p:nth-child(2) {
  margin-top: 57px;
}




/*-------------------------------СЕКЦИЯ КАК МЫ ДОБИВАЕМСЯ РЕЗУЛЬТАТОВ-------------------------------*/


.resultsec{
  margin-top: 150px;
}

.resultsec h2{
  display: flex;
  font-family: "Manrope-700";
  font-size: 5.625rem;
  text-decoration: none;
  line-height: 120%;
  background: linear-gradient(92deg, #A8FF78 0.66%, #06F 99.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 72px;
}

.result-content-list{
  margin-top: 26px;
  max-width: 1538px;
  margin-left: 110px;
  display: grid;
  grid-template-columns: 1fr 1.19fr 1fr;
}

.result-content {
position: relative;
}


.result-content-list-item h3{
  font-family: "Manrope-700";
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
}

.result-content-list-item p{
  font-family: "Manrope-500";
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  margin-top: 51px;
}

.result-content-list-item:nth-child(1) {
  max-width: 372px;
}

.result-content-list-item:nth-child(2) {
  max-width: 475px;
}

.result-content-list-item:nth-child(3) {
  max-width: 570px;
}

.result-content-list:nth-child(5) {
  margin-bottom: 110px;
}

.result-content-list:nth-child(7) > div:nth-child(1) > p:nth-child(2) {
  margin-top: 19px;
}

.result-content-list:nth-child(7) {
  margin-bottom: 110px;
}

.result-content-list:nth-child(9) {
  margin-top: 38px;
}

.result-content-list:nth-child(9) > div:nth-child(1) > p:nth-child(2) {
  margin-top: 19px;
}

.result-content-list:nth-child(7) {
  max-width: 1486px;
}

.full_container-resultsec{
  position: relative;
}

.blur-green-left-resultsec{
  border-radius: 410px;
  background: #25402a;
  filter: blur(450px);
  top: 28%;
  position: absolute;
  left: -150px;
  width: 552px;
  height: 552px;
}


/*-------------------------------СЕКЦИЯ КАК МЫ ДОБИВАЕМСЯ РЕЗУЛЬТАТОВ-------------------------------*/


.aboutussec{
  margin-top: 96px;
}

.aboutussec h2{
  font-family: "Manrope-700";
  font-size: 5.625rem;
  text-decoration: none;
  line-height: 120%;
  background: #A8FF78;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 72px;
  text-align: center;
}

.aboutus-content-title{
  margin-top: 98px;
  max-width: 1531px;
  margin-left: 109px;
  margin-right: 161px;
  display: flex;
  border-radius: 37px;
  background: rgba(115, 113, 255, 0.33);
  position: relative;
  max-width: 1457px;
  column-gap: 50px;
  width: 100%;
  padding-right: 74px;
}

.aboutus-content-title img{
  border-radius: 46px;
  box-shadow: 0px 0px 178.10001px -30px #A8FF78;
  max-width: 569px;
  max-height: 799px;
  flex-shrink: 0;
  width: 100%;
}

.aboutus-content-title-rightpart h3{
  font-family: "Manrope-500";
  font-size: 3rem;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  margin-top: 20px;
}

.aboutus-content-title-rightpart b{
  font-family: "Manrope-400";
  font-size: 2.5rem;
}

.aboutus-content-title-rightpart p{
  font-family: "Manrope-500";
  font-size: 1.625rem;
  text-decoration: none;
  color: #ffffff;
  line-height: 2.313rem;
}

.aboutus-content-title-rightpart > p:nth-child(3) {
  margin-top: 70px;
}


/*-------------------------------СЕКЦИЯ НАША КОМАНДА-------------------------------*/

.teamsec{
  margin-top: 193px;
}

.teamsec h2{
  font-family: "Manrope-700";
  font-size: 5.625rem;
  text-decoration: none;
  line-height: 120%;
  background: linear-gradient(92deg, #A8FF78 32.66%, #06F 99.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 72px;
  text-align: center;
}

.teamsec-slider-uppart{
  display: flex;
  justify-content: center;
}

.teamsec-slider-downpart{
  display: flex;
  justify-content: center;
  margin-top: 73px;
}

.teamsec-slider-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.teamsec-slider-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

.teamsec-slider-item img{
  border-radius: 50%;
}

.teamsec-slider-item h3{
  font-family: "Manrope-700";
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffffff;
  margin-top: 5px;
}

.teamsec-slider-item p{
  font-family: "Manrope-300";
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.slick-prev:before,
  .slick-next:before {
    display: none;
  }

.teamsec-slider .slick-prev {
  top: 50% !important;
  left: 0px !important;
  background: url(../img/arrow_left.svg) !important;
  background-repeat: no-repeat !important;
  width: 34px;
  height: 116px;
  z-index: 100;
}

.teamsec-slider .slick-next {
  top: 50% !important;
  right: 0px !important;
  background: url(../img/arrow_right.svg) !important;
  background-repeat: no-repeat !important;
   width: 34px;
  height: 116px;
}

/*-------------------------------СЕКЦИЯ НАШИ КЕЙСЫ-------------------------------*/


.casessec{
  margin-top: 112px;
}

.casessec h2{
  font-family: "Manrope-700";
  font-size: 5.625rem;
  text-decoration: none;
  line-height: 120%;
  background: linear-gradient(92deg, #A8FF78 45.66%, #06F 99.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;

}

.casessec-content-list{
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
}

.casessec-content-list-item{
  padding-top: 36px;
  padding-left: 30px;
  padding-bottom: 23px;
  padding-right: 35px;
  border-radius: 6px;
  background: url(../img/case1.png) no-repeat;
  background-size: cover;
  max-width: 488px;
  width: 100%;
  text-decoration: none;
}

.casessec-content-list-item:nth-child(2){
  background: url(../img/case2.png) no-repeat;
  background-size: cover;
}

.casessec-content-list-item:nth-child(3){
  background: url(../img/case3.png) no-repeat;
  background-size: cover;
}

.casessec-content-list-item h3{
  font-family: "Manrope-600";
  font-size: 2.5rem;
  text-decoration: none;
  color: #000;
  margin-bottom: 208px;
}

.casessec-content-list-item p{
  font-family: "Manrope-500";
  font-size: 1.25rem;
  text-decoration: none;
  color: #000;
}

.casessec-content-list-item b{
  font-family: "Manrope-500";
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFF;
}

.casessec-content-list-item-downpart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/*-------------------------------СЕКЦИЯ ОСТАВИТЬ ЗАЯВКУ-------------------------------*/


.ordersec{
  margin-top: 157px;
}

.ordersec h2{
  font-family: "Manrope-700";
  font-size: 4.938rem;
  text-decoration: none;
  text-align: left;
  line-height: 120%;
  background: linear-gradient(92deg, #A8FF78 0.66%, #06F 59.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 41px;
}

.ordersec-content h3{
  font-family: "Manrope-500";
  font-size: 2.875rem;
  text-decoration: none;
  color: #FFF;
  line-height: 123%;
  letter-spacing: 0.69px;
  margin-left: 41px;
  margin-top: 11px;
}

.ordersec-content > h3:nth-child(3) {
  margin-left: 182px;
  margin-top: 0px;
}

.ordersec-content-h3b{
  font-family: "Manrope-500";
  font-size: 2.875rem;
  text-decoration: none;
  background: linear-gradient(92deg, #4faebf 0.66%, #278adf 99.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form_container{
  margin-top: 100px;
  margin-left: 220px;
}

.form_item_uppart{
   display: flex;
   column-gap: 11px;
}

.form_item_uppart-fix{
  display: flex;
  flex-direction: column;
}

.form_item_uppart p{
  font-family: "Manrope-500";
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFFFFF;
}

.form_item_uppart-b{
   font-family: "Manrope-500" !important;
  font-size: 1.125rem !important;
  text-decoration: none;
  color: #06F !important;
}

.form_item input{
  border: 0px;
  border-bottom: 2px solid #ffffff;
  background: transparent;
  outline: none;
  font-family: "Manrope-500";
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFFFFF;
  max-width: 365px;
  width: 100%;
  padding: 0px;
}

.order_form{
  display: grid;
  grid-template-columns: 1fr 1fr 1.04fr;
  grid-row-gap: 38px;
}

.form_item button{
  border-radius: 52.114px;
  border: 2px solid #A8FF78;
  background: rgba(0, 102, 255, 0.22);
  box-shadow: 0px 0px 22px 0px rgba(176, 102, 255, 0.15);
  padding-top: 18px;
  padding-bottom: 18px;
  max-width: 471px;
  width: 100%;
  text-align: center;
  font-family: "Manrope-600";
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

.form_item button:active{
  transform: scale(0.98);
}

.form_item-button{
  display: flex;
  flex-direction: column;
  justify-content: end;
}



/*-------------------------------ФУТЕР-------------------------------*/

footer{
  margin-top: 186px;
  border-top: 2px solid #A8FF78;
  padding-top: 55px;
  padding-bottom: 52px;
  background: url(../img/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-content{
  margin-left: 143px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
}

.footer-content-leftpart{
  display: flex;
}

.footer-content-rightpart{
  display: flex;
}

.footer-content-nav{
  display: flex;
  flex-direction: column;
}

.footer-content-company{
  display: flex;
  flex-direction: column;
  margin-left: 82px;
}

.footer-content-nav h3{
  font-family: "Manrope-700";
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  margin-bottom: 4px;
}

.footer-content-nav a{
  font-family: "Manrope-400";
  font-size: 1.375rem;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.33px;
  margin-top: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-left: 4px;
}

.footer-content-company h3{
  font-family: "Manrope-700";
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  margin-bottom: 4px;
}

.footer-content-company a{
 font-family: "Manrope-400";
  font-size: 1.375rem;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.33px;
  margin-top: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-left: 4px;
}

.footer-content-contacts{
  margin-left: 170px;
}

.footer-content-contacts p{
  font-family: "Manrope-400";
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.3px;
}

.footer-content-contacts > p:nth-child(2) {
  margin-top: 13px;
}

.footer-content-contacts-messengers p{
  font-family: "Manrope-600";
  font-size: 1.25rem;
  text-decoration: none;
  color: #A8FF78;
  letter-spacing: 0.3px;
}

.footer-content-contacts-messengers{
  margin-top: 22px;
  margin-left: 39px;
  max-width: 144px;
  width: 100%;
  white-space: nowrap;
}

.footer-content-contacts-messengers-links {
  display: flex;
  align-items: center;
}

.footer-content-contacts-messengers-links > a:nth-child(2) {
  margin-left: 20px;
}

.footer-content-contacts-messengers-links > a:nth-child(3) {
  margin-left: 28px;
}


